<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body>

    <!-- Sidenav -->
    {{> aside}}

    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-dashboard}}

        <!-- Alerts -->
        <div class="container">

            {{#if alert }}
            <div class="alert alert-danger mt-3 mb-0" role="alert">
                {{alert}}
            </div>
            {{/if}}

            {{#if success  }}
            <div class="alert alert-success mt-3 mb-0" role="alert">
                {{success}}
            </div>
            {{/if}}

        </div>

        <!-- DB Results -->

        {{#if db_results}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section class="content">
                <div class="container-fluid wrapper-row">
                    {{#each db_results}}
                    <div class="card card-primary m-10">
                        <div class="card-header">
                            <h3 class="card-title">{{this.username}}</h3>
                        </div>
                        <form role="form" class="update-container" action="/update" method="POST" autocomplete="off">
                            <div class="card-body">
                                <div class="row">
                                    <div class="card-fields col-12">
                                        <input type="text" class="form-control" name="id" value="{{this.id}}" readonly>
                                        {{!-- <input class="charInput" type="text" name="id" value="{{this.id}}" readonly> --}}
                                    </div>
                                    <div class="card-fields col-12">
                                        {{!-- <input type="text" class="form-control" name="id" value="{{this.id}}"> --}}
                                        <input class="form-control" type="text" name="name" value="{{this.name}}">
                                    </div>
                                    <div class="card-fields col-12">
                                        {{!-- <input type="text" class="form-control" name="id" value="{{this.id}}"> --}}
                                        <input class="form-control" type="text" name="username"
                                            value="{{this.username}}">
                                    </div>
                                    <div class="card-fields col-12">
                                        {{!-- <input type="text" class="form-control" name="id" value="{{this.id}}"> --}}
                                        <input class="form-control" type="text" name="email" value="{{this.email}}">
                                    </div>
                                    <div class="card-fields col-12">
                                        <select id="role_dropdown" class="custom-select" name="role">
                                            <option value="{{this.user_role}}">{{this.user_role}}</option>
                                            <option value="none" disabled>----------------</option>
                                            <option value="basic">basic</option>
                                            <option value="superadmin">superadmin</option>
                                        </select>
                                    </div>
                                    <div class="card-fields col-12 popup">
                                        <span class="popuptext" id="sensorId-popup">Here comes the IDs' of sensor that user has access to. (eg. 1,2,3,4)</span>
                                        <input class="form-control" type="text" name="sensorId" value="{{ this.sensorId }}">
                                    </div>
                                    <div class="card-fields col-12">
                                        <input class="form-control" type="text" name="password" placeholder="Password">
                                    </div>
                                    <div class="card-fields col-12">
                                        {{!-- <input type="submit" name="update" value="Update"> --}}
                                        <button type="submit" class="btn btn-primary" name="update"
                                            value="Update">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{/each}}
                </div>
            </section>

            {{/if}}


        </div>
        {{!-- container wrapper end --}}



    </div> 
    {{!-- #main Div End --}}

    {{> scripts}}

</body>

</html>